<footer class="footer">
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="footer-top__content">
						<div class="footer-top__company">
							<div class="footer-top__logo">
								<img src="img/logo.png" alt="">
							</div>

							<div class="footer-top__desc">Описание сайта<br>в две строки</div>
						</div>

						<div class="footer-top__contact">
							<div class="footer-top__address">г. Сочи,<br>Декабристов, 78-б</div>

							<div class="footer-top-phone">
								<div class="footer-top-phone__label">Круглосуточная горячая линия</div>
								<div class="footer-top-phone__text"><a href="tel:+74993462040">+7 (499) 346-20-40</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="footer-bottom__content">
						<div class="footer-bottom__copyright">© Название сайта</div>

						<div class="pay-system">
							<div class="pay-system__item"><img src="img/keeper.jpg" alt=""></div>
						
							<div class="pay-system__item"><img src="img/visa.png" alt=""></div>
						
							<div class="pay-system__item"><img src="img/mastercard.png" alt=""></div>
						
							<div class="pay-system__item"><img src="img/mir.png" alt=""></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>