/*-------------- booking -----------------*/
.booking{
	padding: 70px 0 90px;
	background: url(#{$path-img}/bg-booking.jpg) no-repeat center;
	// background-attachment: fixed;

	h2,
	.h2{
		margin-bottom: 30px;
		color: #fff;
	}
}