/*-------------- input-radio -----------------*/
.input-radio{
	&__label{
		display: flex;
		align-items: center;
		cursor: pointer;
		position: relative;
		@include font(normal, normal, 1rem, 1.3, $color-text);
		margin-bottom: 0;
	}

	input[type=radio] {
		display: none;
	}

	&__mark{
		display: inline-block;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		border: 3px solid #929292;
		background: transparent;
		position: relative;
	}

	&__mark::after{
		content: '';
		display: none;
		width: 14px;
		height: 14px;
		border-radius: 50%;
		background: #929292;
		position: absolute;
		@include top-center;
		left: 0;
		right: 0;
		margin: 0 auto;
	}

	&__text{
		max-width: calc(100% - 38px);
		margin-left: 15px;
	}

	input[type=radio]:checked + &__label &__mark::after{
		display: inline-block;
	}
}