/*-------------- params -----------------*/
.params-wrap{
	padding: 65px 0;
}

.params{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;

	&__item{
		max-width: 25%;
		padding: 15px;
		margin-bottom: 20px;
		text-align: center;
	}

	&__val{
		display: inline-block;
		@include font(normal, normal, 4.375rem, 1, $color-blue);
		text-decoration: none;
		position: relative;
		transition: all 0.3s ease 0s;
	}

	&__val::after{
		content: '';
		display: inline-block;
		width: 100%;
		height: 2px;
		border-bottom: 2px dashed $color-blue;
		position: absolute;
		bottom: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}

	&__text{
		@include font(normal, 300, 1.25rem, 1.3, $color-text);
		margin-top: 5px;
	}
}

a.params__val:hover{color: $color-orange;}
a.params__val:hover::after{border-color: $color-orange;}