<header class="header">
	<div class="container">
		<div class="header-top">
			<div class="row align-items-center">
				<div class="col-4">
					<div class="header-top__address">г. Сочи,<br>Декабристов, 78-б</div>
				</div>

				<div class="col-4 d-flex justify-content-center">
					<div class="header-top__logo">
						<img src="img/logo.png" alt="">
					</div>
				</div>

				<div class="col-4">
					<div class="header-top__contact">
						<div class="header-top__contact-label">Круглосуточная горячая линия</div>
						<div class="header-top__phone"><a href="tel:+74993462040">+7 (499) 346-20-40</a></div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<div class="header-info">
					<div class="header-info__head">Санаторий «Аквалоо»</div>
					<div class="header-info__address">Сочи, ул. Декабристов, 78-б</div>
					<a href="#" class="btn btn_big">Забронировать</a>
				</div>

				<form class="search-hotel">
					<div class="search-hotel__content">
						<div class="search-hotel__info">
							<div class="search-hotel__title">Санаторий Аквалоо</div>
							<div class="search-hotel__text">Выберите период бронирования</div>
						</div>
						
						<div class="search-hotel-form">
							<div class="search-hotel-form__field">
								<div class="form-date js-form-date" data-input="arrive">
									<div class="form-date__label">Заезд</div>
									<input type='text' value="24.03.2020" class='js-datepicker' />
								</div>
							</div>
							

							<div class="search-hotel-form__field">
								<div class="form-date" data-input="departure">
									<div class="form-date__label">Выезд</div>
									<input type='text' value="25.03.2020" class='js-datepicker' />

									<div class="form-date__input">
										<input type="date" name="departure">
									</div>
								</div>
							</div>

							<input type="submit" class="btn" value="Найти номер">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</header>